body {
    max-width:1920px;
    overflow: hidden;
    width:100%;

    background-color: blue;
}

#btn {
    width: 128px;
    height: 32px;

    margin-top:450px;
    margin-left:45%;

    border: 1px solid white;
    background-color: transparent;
    color:white;
}

#btn:hover {
    background-color: cadetblue;
    color:white
}